.footer {
    background-color: $rosa;
    padding: $separacion / 4;
    text-align: center;

    p {
        margin: 0;
        color: $blanco;
    }
    span {
        color: $negro;
        font-weight: $bold;
    }
}
